<ion-header>
  <xapi-header #Header [appTitle]="appTitle"></xapi-header>
</ion-header>
<ion-content padding>

  <section *ngIf="user">
    Welcome {{ user.user_login }}, ...
    <div class="buttons">
      <button ion-button (click)="onClickUpdate()">Profile Update</button>
      <button ion-button (click)="onClickChangePassword()">Chnage Password</button>
      <button ion-button (click)="onClickLogout()">Logout</button>
      <button ion-button (click)="onClickResign()">Resign</button>
    </div>
  </section>
  <section *ngIf="!user">
    <div class="buttons">
      <button ion-button (click)="onClickLogin()">Login</button>
      <button ion-button (click)="onClickRegister()">Register</button>
    </div>
  </section>

  <section>
    <button ion-button (click)="onClickCategory()">All Forum List</button>
    <button ion-button (click)="onClickQnA()">Q & A Forum</button>
  </section>

<ul>
  TODO
  <li>User primary photo update</li>
  <li>Post crud</li>
  <li>Comment CRUD</li>
  <li>Web browser test. client-end & back-end test</li>
  <li>Side menu & Widgets for Desktop web design</li>
  </ul>
</ion-content>
